/* de opmaak van de webapp */
.ui-page
{
    background-image: url(img/hockeyhtmlbannerimage.jpg);
}

.ui-content p
{
    font-family: 'sans-serif';
    font-size: 18px;

    width: 100%;
	padding: 15px;

    border-radius: 5px;
    background-color: #fafafa;
    background-attachment: scroll;
}

p bold
{
    font-size: 24px;

    color: #8fb7dd;
}

#textbox
{

	margin: auto;
	width: 75%;
	
}

.ui-content > h3
{
    padding: 15px;
	
	width: 30%;

    border-radius: 5px;
    background-color: #fafafa;
}
