/* de opmaak van de webapp */
.ui-page
{
    background-image: url(img/hockeyhtmlbannerimage.jpg);
}

.ui-content p,
form
{
    font-family: 'sans-serif';
    font-size: 18px;

    padding: 15px;

    border-radius: 5px;
    background-color: #fafafa;
    background-attachment: scroll;
}

p bold
{
    font-size: 24px;

    color: #8fb7dd;
}

#textbox
{
    width: 75%;
    margin: auto;
}

.ui-content > h3
{
    padding: 15px;

    border-radius: 5px;
    background-color: #fafafa;
}

#searchList
{
    margin: 2px;
}
